* {
   font-family: 'Times New Roman', Times, serif;
}

body {
   height: 100vh;
   background: url("/My_Portfolio/SL-043021-42650-20.jpg");
   background-position: center;
   background-size: cover;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

#calculator {
   background-color: hsl(0, 0%, 15%);
   border-radius: 15px;
   color: white;
   max-width: 450px;
   overflow: hidden;
}

#display {
   width: 100%;
   max-width: 400px;
   background-color: hsl(0, 0%, 20%);
   border: none;
   color: rgb(255, 255, 255);
   font-size: 5rem;
   padding: 20px;
   text-align: left;
}

#keys {
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   padding: 25px;
}

button {
   width: 80px;
   height: 80px;
   background-color: hsl(0, 0%, 30%);
   border: none;
   border-radius: 50%;
   color: rgb(255, 255, 255);
   cursor: pointer;
   font-size: 30px;
   transition: 0.1s;
}

button:hover {
   background-color: hsl(0, 0%, 40%);
}

button:active {
   background-color: hsl(0, 0%, 50%);
}

.operator-button {
   background-color: hsl(16, 100%, 56.9%);
}


.operator-button:hover {
   background-color: hsl(16, 100%, 61.9%);
}

.operator-button:active {
   background-color: hsl(16, 100%, 66.9%);
}